# Copy to .env and customize
AR_DB_TYPE=sqlite
AR_DB_URL=sqlite+aiosqlite:////home/test/arex-recorder/data/arex_recorder.db
AR_SECRET_KEY=changeme-in-production
AR_AREX_STORAGE_URL=http://localhost:8093
AR_DEBUG=false
